@using Core.Entities.Compare
@using Core.Interfaces
@using Services
@model List<ABaseCompareResultItem>
@{
    var divId = Guid.NewGuid();
}
<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#@divId">
        <h6 class="mb-0 font-weight-bold">@ViewBag.Title (@Model.Count)</h6>
    </div>
    <div id="@divId" class="collapse @(ViewBag.Show is bool && ViewBag.Show ? "show" : "")">
        <table class="table table-compact">
            <thead class="thead-light">
                <tr>
                    <th style="width: 10%">@Localization.LabelType</th>
                    <th style="width: 45%">@Localization.LabelName</th>
                    <th style="width: 45%">@Localization.LabelName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="Main.SelectRow(event, '@item.Id')">
                        <td>@item.ItemTypeLabel</td>
                        <td>@item.SourceItemName</td>
                        <td>@item.TargetItemName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>