@page
@model Index
@using Services
@using Enums

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@Model.Title</title>
    @if (AppGlobal.IsDevelopment)
    {
        <link href="~/css/Index.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/Index.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    }
    <link href="~/lib/jquery/jquery-editable-select.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>
<body>
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row tcx-row-header d-flex justify-content-between">
            <div>
                <button type="button" style="@ButtonStyle.Primary" onclick="Project.New();">new project</button>
                <button type="button" style="@ButtonStyle.Secondary">save</button>

            </div>
            <div>
                <button type="button" style="@ButtonStyle.Secondary">refresh</button>
                <button type="button" style="@ButtonStyle.Secondary" onclick="Logout.Logout(false);">sign out</button>
            </div>
        </div>
        <div class="row tcx-row-main">
        </div>
    </div>

    <!-- Modal -->
    @await Html.PartialAsync("_ModalDialog")

    <div id="myNotification" class="alert alert-warning">
    </div>

    <div id="myModal" class="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Project setup</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    *@
                </div>
                <div id="myModalBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ScriptSetup")
</body>
</html>