@page
@using System.Web
@using Core.Interfaces
@model Main

<div id="mainTop" style="overflow: auto;">
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapseBoth">
            <h5 class="mb-0">in both, but different (@Model.SameTables.Count)</h5>
        </div>
        <div id="collapseBoth" class="collapse show">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">SourceTableName</th>
                        <th scope="col">TargetTableName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in Model.SameTables)
                    {
                        <tr load-sql="/Main?handler=SqlScript"
                            load-sql-method="POST"
                            load-sql-data="@HttpUtility.JavaScriptStringEncode(Json.Serialize(new { SourceTable = table, TargetTable = table}).ToString())">
                            <th scope="row">Table</th>
                            <td>@table</td>
                            <td>@table</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapseLeft">
            <h5 class="mb-0">only in Source (@Model.OnlySource.Count)</h5>
        </div>
        <div id="collapseLeft" class="collapse hide">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">SourceTableName</th>
                        <th scope="col">TargetTableName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in Model.OnlySource)
                    {
                        <tr load-sql="/Main?handler=SqlScript"
                            load-sql-method="POST"
                            load-sql-data="@HttpUtility.JavaScriptStringEncode(Json.Serialize(new { SourceTable = table, TargetTable = ""}).ToString())">
                            <th scope="row">Table</th>
                            <td>@table</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapseRight">
            <h5 class="mb-0">only in Target (@Model.OnlyTarget.Count)</h5>
        </div>
        <div id="collapseRight" class="collapse hide">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">SourceTableName</th>
                        <th scope="col">TargetTableName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in Model.OnlyTarget)
                    {
                        <tr load-sql="/Main?handler=SqlScript"
                            load-sql-method="POST"
                            load-sql-data="@HttpUtility.JavaScriptStringEncode(Json.Serialize(new { SourceTable = "", TargetTable = table}).ToString())">
                            <th scope="row">Table</th>
                            <td></td>
                            <td>@table</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#collapseSame">
            <h5 class="mb-0">identical (0)</h5>
        </div>
        <div id="collapseSame" class="collapse hide"></div>
    </div>
</div>

<div id="mainBottom" style="display: none;">
    <div class="navbar p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sqlDiff">SQL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Menu 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Menu 3</a>
            </li>
        </ul>
        <button class="btn btn-outline-secondary btn-sm" close-split>X</button>
    </div>

    <div class="tab-content" style="height: calc(100% - 36px);">
        <div id="sqlDiff" class="tab-pane fade show active" style="height: 100%;">
        </div>
        <div id="menu1" class="tab-pane fade" style="height: 100%;">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane fade" style="height: 100%;">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
    </div>
</div>