@page
@using Core.Enums
@using Core.Interfaces
@using Enums
@using Services
@model SettingsPageModel

<div class="form-group">
    <label>@Localization.LabelLanguage</label>
    <select name="Language" class="form-control-sm">
        @{
            @:<option value="@Language.English" @(Model.Settings.Language == Language.English ? "selected" : "")>English</option>
            @:<option value="@Language.German" @(Model.Settings.Language == Language.German ? "selected" : "")>German</option>
            @:<option value="@Language.Italian" @(Model.Settings.Language == Language.Italian ? "selected" : "")>Italian</option>
        }
    </select>
</div>

<div class="form-group">
    <label>@Localization.LabelLogLevel</label>
    <select name="LogLevel" class="form-control-sm">
        @{
            @:<option value="@LogLevel.Debug" @(Model.Settings.LogLevel == LogLevel.Debug ? "selected" : "")>Debug</option>
            @:<option value="@LogLevel.Info" @(Model.Settings.LogLevel == LogLevel.Info ? "selected" : "")>Info</option>
            @:<option value="@LogLevel.Warning" @(Model.Settings.LogLevel == LogLevel.Warning ? "selected" : "")>Warning</option>
            @:<option value="@LogLevel.Error" @(Model.Settings.LogLevel == LogLevel.Error ? "selected" : "")>Error</option>
            @:<option value="@LogLevel.Critical" @(Model.Settings.LogLevel == LogLevel.Critical ? "selected" : "")>Critical</option>
            @:<option value="@LogLevel.None" @(Model.Settings.LogLevel == LogLevel.None ? "selected" : "")>None</option>
        }
    </select>
</div>

<div class="float-right">
    @if (Model.Project?.Result != null)
    {
        <button style="@ButtonStyle.Secondary" onclick="Utility.CloseModalDialog();">@Localization.ButtonCancel</button>
        <button style="@ButtonStyle.Primary" onclick="Settings.Save(false);">@Localization.ButtonSave</button>
    }
    else
    {
        <button style="@ButtonStyle.Secondary" onclick="Utility.OpenWelcomePage();">@Localization.ButtonCancel</button>
        <button style="@ButtonStyle.Primary" onclick="Settings.Save(true);">@Localization.ButtonSave</button>
    }
</div>