@page
@using System.Net.Http
@using System.Web
@using Core.Interfaces
@using Enums
@using Models
@model Welcome
@{
    var newProjectRequest = new WebRequest
    {
        Url = new Uri("/Project/CompareProject?handler=NewProject", UriKind.Relative),
        Method = HttpMethod.Get
    };
}

<h1>Welcome to @AppGlobal.CompanyName @AppGlobal.ProductName</h1>
<br />

<button style="@ButtonStyle.Primary" onclick-open-modal="@newProjectRequest">
    New Project
</button>

<button style="@ButtonStyle.Primary" onclick="Project.Load()">
    Open Project
</button>

<br />
<br />
<div>
    Recent projects:
    @for (var i = Model.RecentProjects.Count - 1; i >= 0; i--)
    {
        var loadProjectRequest = new WebRequest
        {
            Url = new Uri("/Project/CompareProject?handler=LoadProject", UriKind.Relative),
            Method = HttpMethod.Post,
            Data = Model.RecentProjects[i]
        };

        <br /> @:&bull;
        <button style="@ButtonStyle.Link" onclick-open-modal="@loadProjectRequest" class="p-0">
            @Model.RecentProjects[i]
        </button>
    }
</div>
