@page
@using System.Web
@using Core.Interfaces
@model Welcome

<h1>Welcome to @AppGlobal.CompanyName @AppGlobal.ProductName</h1>
<br /><br />
@Html.ActionLink("New project", "Index");
<br />
@Html.ActionLink("Load project", "")

<br />
<br />
<div>
    Recent projects:
    @foreach (var recent in Model.RecentProjects)
    {
        <br /> @:&bull;
        <a href="#" load-modal="/CompareProject" load-modal-method="POST"
           load-modal-data="@HttpUtility.JavaScriptStringEncode(Json.Serialize(recent).ToString())">
            @recent
        </a>
    }
</div>
<br />
<br />

<label for="exampleInputEmail1">Load</label>
<input type="file">
