@page
@using System.Web
@using Core.Interfaces
@using Enums
@using Services
@model Welcome

<h1>Welcome to @AppGlobal.CompanyName @AppGlobal.ProductName</h1>
<br />

<button style="@ButtonStyle.Primary" onclick="Project.New()">
    @Localization.ButtonNewProject
</button>

<button style="@ButtonStyle.Primary" onclick="Project.Load()">
    @Localization.ButtonOpenProject
</button>

<br />
<br />
<div>
    Recent projects:
    @for (var i = Model.RecentProjects.Count - 1; i >= 0; i--)
    {
        <br /> @:&bull;
        <button style="@ButtonStyle.Link" onclick="Project.Load('@HttpUtility.JavaScriptStringEncode(Model.RecentProjects[i])')" class="p-0">
            @Model.RecentProjects[i]
        </button>
    }
</div>
