@page
@using System.Web
@using Core.Interfaces
@using Services
@model WelcomePageModel

<div class="card tcx-welcome shadow mx-auto">
    <div class="card-header">
        <div class="row">
            <div class="col-12 d-flex">
                <img src="~/img/logo-transparent.png" class="float-left tcx-welcome-logo pl-3" />
                <h3 class="text-center m-auto">@string.Format(Localization.TitleWelcome, AppGlobal.ProductName)</h3>
            </div>
        </div>
    </div>
    <div class="card-body px-2">
        <div class="row no-gutters tcx-welcome-recent-row">
            <div class="col-6 border-right px-1">
                <div class="list-group">
                    <div class="list-group-item border-0 pl-1 py-0 font-weight-bold">
                        <h6 class="font-weight-bold">@Localization.LabelRecentProjects:</h6>
                    </div>
                    @foreach (var item in Model.RecentProjects)
                    {
                        <div class="list-group-item list-group-item-action d-flex border-0 py-1 justify-content-between">
                            <div onclick="Project.Load(false, '@HttpUtility.JavaScriptStringEncode(item)')"
                                 class="w-100 text-truncate"
                                 data-toggle="tooltip" data-placement="top" title="@item">
                                <i class="fas fa-database pr-1"></i>
                                @(System.IO.Path.GetFileNameWithoutExtension(item))
                            </div>
                            <div>
                                <i class="fas fa-times text-danger"
                                   onclick="Project.RemoveRecentProject('@HttpUtility.JavaScriptStringEncode(item)')">
                                </i>
                            </div>
                        </div>
                    }
                    <div class="list-group-item list-group-item-action py-1 border-0"
                         onclick="Project.Load()"
                         data-toggle="tooltip" data-placement="top" title="@Localization.ButtonOpenProject">
                        <i class="far fa-folder-open pr-1"></i>
                        @Localization.LabelOpen
                    </div>

                </div>
            </div>
            <div class="col-6 border-left px-1">
                <ul class="list-group px-2">
                    <li class="list-group-item border-0 pl-1 py-0">
                        <h6 class="font-weight-bold">@Localization.LabelCreateNewProjects:</h6>
                    </li>
                    <li class="list-group-item list-group-item-action py-1 border-0"
                        onclick="Project.New(false, DatabaseType.MicrosoftSql)">
                        <i class="fas fa-plus pr-1"></i>
                        @Localization.LabelNewMicrosoftSQLServerProject
                    </li>
                    <li class="list-group-item list-group-item-action py-1 border-0"
                        onclick="Project.New(false, DatabaseType.MySql)">
                        <i class="fas fa-plus pr-1"></i>
                        @Localization.LabelNewMySqlProject
                    </li>
                    <li class="list-group-item list-group-item-action py-1 border-0"
                        onclick="Project.New(false, DatabaseType.PostgreSql)">
                        <i class="fas fa-plus pr-1"></i>
                        @Localization.LabelNewPostgreSQLProject
                    </li>
                    <li class="list-group-item list-group-item-action py-1 border-0"
                        onclick="Project.New(false, DatabaseType.MariaDb)">
                        <i class="fas fa-plus pr-1"></i>
                        @Localization.LabelNewMariaDbProject
                    </li>
                    <li class="list-group-item list-group-item-action py-1 border-0"
                        onclick="Project.New(false)">
                        <i class="fas fa-plus pr-1"></i>
                        @Localization.LabelNewProject
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>