@using System.Net.Http
@using Core.Enums
@using Core.Interfaces
@using Enums
@using Core.Entities.DatabaseProvider
@using Models
@using Services
@model ADatabaseProviderOptions
@{
    var divId = Guid.NewGuid().ToString();
    var prefix = ((CompareDirection)ViewBag.Prefix).ToString();
}
<div class="card" id="@divId">
    <input type="hidden" name="Direction" value="@prefix">
    <div class="card-body pb-0">
        <h5 class="card-title text-center">@ViewBag.Title</h5>
        <p class="card-text">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text min-width-100">@Localization.LabelType</span>
                    </div>
                    <select name="@(prefix)DatabaseType">
                        @{
                            @:<option value="@DatabaseType.MicrosoftSql" @(Model is MicrosoftSqlDatabaseProviderOptions ? "selected" : "")>Microsoft SQL Server</option>
                            @:<option value="@DatabaseType.MySql" @(Model is MySqlDatabaseProviderOptions ? "selected" : "")>Oracle MySQL Server</option>
                            @:<option value="@DatabaseType.PostgreSql" @(Model is PostgreSqlDatabaseProviderOptions ? "selected" : "")>PostgreSQL Server</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text min-width-100">@Localization.LabelHostname</span>
                    </div>
                    <input type="text" name="@(prefix)Hostname" value="@Model.Hostname">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text min-width-100">@Localization.LabelUsername</span>
                    </div>
                    <input type="text" name="@(prefix)Username" value="@Model.Username">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text min-width-100">@Localization.LabelPassword</span>
                    </div>
                    <input type="password" name="@(prefix)Password" value="@Model.Password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text min-width-100">@Localization.LabelUseWindowsAuthentication</span>
                    </div>
                    <label class="switch">
                        @{
                            @:<input type="checkbox" name="@(prefix)UseWindowsAuthentication" data-value-type="boolean" @(Model is MicrosoftSqlDatabaseProviderOptions options && options.UseWindowsAuthentication ? "checked=\"checked\"" : "")>
                        }
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text min-width-100">@Localization.LabelUseSSL</span>
                    </div>
                    <label class="switch">
                        @{
                            @:<input type="checkbox" name="@(prefix)UseSSL" data-value-type="boolean" @(Model.UseSSL ? "checked=\"checked\"" : "")>
                        }
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text min-width-100">@Localization.LabelDatabase</span>
                    </div>
                    <select name="@(prefix)Database">
                        @if (!string.IsNullOrEmpty(Model.Database))
                        {
                            <option value="@Model.Database">@Model.Database</option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button style="@ButtonStyle.Info" onclick="Project.LoadDatabaseSelectValues($(this), '@(prefix)Database', '@divId');">
                            <span>&#x21bb;</span>
                        </button>
                    </div>
                </div>
            </div>
        </p>
    </div>
</div>