@using Core.Entities.Project
@using Core.Interfaces
@using Services
@model ProjectOptions
<div class="row">
    <div class="col-6">

        <div class="form-group row">
            <div class="col-9">
                <label>@Localization.LabelIgnoreCollate</label>
            </div>
            <div class="col-3 text-right">
                <label class="tcx-switch">
                    <input type="checkbox" name="ProjectOptions[Scripting[IgnoreCollate]]"
                           data-value-type="boolean"
                           checked="@Model.Scripting.IgnoreCollate"
                           onchange="Project.SetDirtyState()">
                    <span class="tcx-switch-slider"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-9">
                <label>@Localization.LabelOrderColumnAlphabetically</label>
            </div>
            <div class="col-3 text-right">
                <label class="tcx-switch">
                    <input type="checkbox" name="ProjectOptions[Scripting[OrderColumnAlphabetically]]"
                           data-value-type="boolean"
                           checked="@Model.Scripting.OrderColumnAlphabetically"
                           onchange="Project.SetDirtyState()">
                    <span class="tcx-switch-slider"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-9">
                <label>@Localization.LabelUseSchemaName</label>
            </div>
            <div class="col-3 text-right">
                <label class="tcx-switch">
                    <input type="checkbox" name="ProjectOptions[Scripting[UseSchemaName]]"
                           data-value-type="boolean"
                           checked="@Model.Scripting.UseSchemaName"
                           onchange="Project.SetDirtyState()">
                    <span class="tcx-switch-slider"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-9">
                <label>@Localization.LabelIgnoreReferenceTableColumnOrder</label>
            </div>
            <div class="col-3 text-right">
                <label class="tcx-switch">
                    <input type="checkbox" name="ProjectOptions[Scripting[IgnoreReferenceTableColumnOrder]]"
                           data-value-type="boolean"
                           checked="@Model.Scripting.IgnoreReferenceTableColumnOrder"
                           onchange="Project.SetDirtyState()">
                    <span class="tcx-switch-slider"></span>
                </label>
            </div>
        </div>

    </div>
    <div class="col-6">
        <label id="helptext">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        </label>
    </div>
</div>
