@page
@using System.Net.Http
@using Enums
@using Models
@using Services
@model ProjectPageModel

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a data-toggle="tab" href="#tabDataSources" class="nav-link active">@Localization.LabelDataSources</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabTableMapping" class="nav-link">@Localization.LabelTableMapping</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabOwnerMapping" class="nav-link">@Localization.LabelOwnerMapping</a>
    </li>
    <li class="nav-item">
        <a data-toggle="tab" href="#tabOptions" class="nav-link">@Localization.LabelOptions</a>
    </li>
</ul>
<div class="tab-content px-3 pt-3 mb-3">
    <div class="tab-pane active" id="tabDataSources">
        <div class="row">
            <div class="col-md-6">
                @await Html.PartialAsync("_DatabaseProviderOptions", Model.Project.SourceProviderOptions, new ViewDataDictionary(this.ViewData)
                {
                    { "Title", Localization.LabelSource },
                    { "Prefix", CompareDirection.Source},
                })
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_DatabaseProviderOptions", Model.Project.TargetProviderOptions, new ViewDataDictionary(this.ViewData)
                {
                    { "Title", Localization.LabelTarget },
                    { "Prefix", CompareDirection.Target},
                })
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tabTableMapping">
        <p></p>
    </div>
    <div class="tab-pane" id="tabOwnerMapping">
        <p></p>
    </div>
    <div class="tab-pane" id="tabOptions">
        <p></p>
    </div>
</div>

<div class="float-right">
    <button style="@ButtonStyle.Primary" onclick="Project.Compare()">
        @Localization.ButtonCompareNow
    </button>
    @if (Model.Project.RetrievedSourceDatabase != null)
    {
        <button style="@ButtonStyle.Secondary" onclick="Utility.CloseModalDialog()">@Localization.ButtonCancel</button>
    }
    else
    {
        <button style="@ButtonStyle.Secondary" onclick="Project.Close(true)">@Localization.ButtonCancel</button>
    }
</div>